@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto+Serif:opsz,wght@8..144,800&family=Trocchi&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.game {
  background: #fff;
  width: 60vmin;
  height: 60vmin;
  display: none;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  border: none;
  outline: none;
}

.game div {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15vmin;
  border: none;
  outline: none;
  color: #dfe0e4;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.gameon {
  display: grid !important;
}
.hide {
  display: none !important;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 50vmin;
  height: 50vmin;
  border-radius: 5px;
}
.container:hover {
    -moz-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
    box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
}
.container .normal {
  background: #98f5e1;
  width: 40vmin;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
}
.container .normal:hover {
    -moz-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
    box-shadow: 0px 8px 24px hsl(185deg 74% 27%);
}
.container .ai {
  background: rgba(0, 200, 255, 1);
  width: 40vmin;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
}
.container .ai:hover {
    -moz-box-shadow: 0px 8px 24px hsl(220deg 74% 40%);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 8px 24px hsl(220deg 74% 27%);
    box-shadow: 0px 8px 24px hsl(220deg 74% 27%);
}

.popup {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  font-size: 10vmin;
  color: #dfe0e4;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #0073e6,
    0 0 20px #0073e6,
    0 0 25px #0073e6,
    0 0 30px #0073e6,
    0 0 35px #0073e6;
}

/* styling the attribution */
.attribution {
  font-size: 1.2rem;
  color: rgb(0, 98, 255);
  position: absolute;
  top: 85%;
}
.attribution a {
  color: cyan;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  text-decoration: none;
}
.attribution a:hover {
  color: orange;
}
